.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.zoomBox{
  display: flex;
  justify-content: center;
}
.zoomOut, .zoomIn{
  /*height: 40px;*/
  /*width: 40px;*/
  padding: 8px 16px;
  margin: 8px 16px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color:#b7b7b7;
}
